*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(207, 226, 241, 0.767);
}
.background{
    height: 615px;
    width: 1310px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 4px 0px rgba(26, 25, 25, 0.26);
    border: none;
    display: flex;
}
.host{
    font-family: arial;
    height: 180px;
    width: 850px;
}
.jarvis{
    height: 150px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.exp{
    height: 180px;
    width: 850px;
    margin-left: 90px;
}
.bt{
    height: 28px;
    width: 90px;
    border-radius: 6px;
    transition: .5s ease-in-out;
    border: none;
    font-size: 11px;
    background-color: white;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.144);
}
.btl{
    height: 28px;
    width: 104px;
    border-radius: 6px;
    transition: .5s ease-in-out;
    border: none;
    font-size: 11px;
    background-color: white;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.144);
}
.btm{
    height: 28px;
    width: 70px;
    border-radius: 6px;
    border: none;
    font-size: 11px;
    transition: .5s ease-in-out;
    background-color: white;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.144);
}
.hot{
    height: 140px;
    width: 110px;
    border: none;
    border-radius: 10px;
    margin-left: 35px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.171);
    display: flex;
    text-align: center;
    flex-direction: column;
}
.me{
    height: 60px;
    width: 60px;
    border-radius: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    margin-left: 25px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.322);
    display: flex;
    transition: .5s ease-in-out;
}
.me:hover{
    rotate: 360deg;
    transition: .5s ease-in-out;
    transform:rotateY(180deg)
}
.talha{
    padding: 10px;
}
.me img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.block{
    height: 590px;
    width: 75px;
    background-color: black;
    border-radius: 13px;
    margin: 10px;
    margin-left: 28px;
}
.discover{
    font-size: 16px;
    font-family: arial;
}
.h{
    font-size: 34px;
    font-family: arial;
    color: white;
    margin: 3px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px black;
}
.search{
    margin-left: 370px;
    border: none;
    height: 30px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.178);
}
.low{
    height: 28px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}
.spd{
    margin-left: 20px;
}
.bil{
    font-size: 15px;
}
.list{
    height: 100px;
    width: 300px;
    background-color: blueviolet;
}
h1{
    color: white;
    margin: 20px;
    text-shadow: 2px 2px 4px black;
}
h2{
    font-family: arial;
}
.hh{
    margin-left: 85px;
}
.bg{
    height: 165px;
    width: 850px;
    border-radius: 10px;
    background: url(Screenshot\ 2025-05-14\ 233007.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: none;
    margin-left: 85px;
}
.follow{
    height: 70px;
    width: 340px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 13px;
    margin-left: 70px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.hi{
    margin: 10px;
}
.paisa{
    font-family: calibri;
    font-size: 16px;
    margin-left: 30px;
}
.pais{
    font-family: calibri;
    font-size: 16px;
    margin-left: 43px;
}
.paia{
    font-family: calibri;
    font-size: 16px;
    margin-left: 35px;
}
.pasa{
    font-family: calibri;
    font-size: 16px;
    margin-left: 47px;
}
.ali{
    font-family: arial;
    margin-left: 25px;
    color: rgba(0, 0, 255, 0.301);
    font-size: 12px;
}
.ale{
    font-family: arial;
    margin-left: 27px;
    color: rgba(0, 0, 255, 0.301);
    font-size: 12px;
}
.ala{
    font-family: arial;
    margin-left: 31px;
    color: rgba(0, 0, 255, 0.301);
    font-size: 12px;
}
.alo{
    font-family: arial;
    margin-left: 37px;
    color: rgba(0, 0, 255, 0.301);
    font-size: 12px;
}
.line{
    margin: 10px;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.171);
    padding: 4px;
}
.fri{
    margin-left: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.171);
}
.day{
    font-family: arial;
    font-size: 12px;
    color: rgba(137, 43, 226, 0.582);
    margin-left: 10px;
}
.rank{
    height: 10px;
    width: 180px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.158);
    margin-left: 10px;
}
.rnk{
    height: 10px;
    width: 162px;
    border-radius: 10px;
    border: none;
    background-color: red;
}
.rnke{
    height: 10px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: rgb(25, 0, 255);
}
.rnkee{
    height: 10px;
    width: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 174, 0);
}
.rnkeee{
    height: 10px;
    width: 153px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 0, 200);
}
.rnka{
    height: 10px;
    width: 109px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 255, 85);
}
.rnkaa{
    height: 10px;
    width: 140px;
    border-radius: 10px;
    border: none;
    background-color: rgb(251, 255, 0);
}
.hhhh{
    font-family: arial;
    margin-left: 10px;
}
.min{
    font-size: 14px;
    font-family: Arial;
    color: black;
}
.you{
    height: 42px;
    width: 42px;
}
.you img{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
.lock{
    height: 615px;
    width: 1000px;
    box-shadow: 2px 2px 4px 0px rgba(26, 25, 25, 0.185);
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.post{
    font-size: 12px;
    color: rgba(146, 146, 250, 0.61);
}
.hhh{
    font-family: arial;
    font-size: 20px;
    margin: 10px;
}
.end{
    margin: 10px;
    height: 130px;
    width: 400px;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.171);
    display: flex;
}
.bor{
    height: 65px;
    width: 250px;
    border: none;
    box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.123);
    border-bottom-right-radius: 10px;
    justify-content: center;
    margin-top: 64px;
}
.tt{
    font-family: arial;
    margin-top: 10px;
    height: 65px;
    width: 250px;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    padding: 10px 0px;
}
.women{
    height: 130px;
    width: 150px;
    border: none;
    border-radius: 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.by{
    font-family: arial;
    font-size: 12px;
    color: rgba(26, 25, 24, 0.445);
}
.gg{
    margin: 10px;
}
.per{
    font-family: arial;
    font-size: 14px;
}
.women img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.logo{
    height: 50px;
    width: 70px;
    border-radius: 10px;
    margin-left: 9px;
    display: flex;
}
.logo img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.l{
    transition: .5s ease-in-out;
}
.to{
    transition: .5s ease-in-out;
}
.t{
    transition: .5s ease-in-out;
}
.p{
    transition: .5s ease-in-out;
}
.v{
    transition: .5s ease-in-out;
}
.head{
    margin-top: 7px;
}
.bn{
    height: 32px;
    width: 120px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.288);
    border: none;
    transition: .5s ease-in-out;
    box-shadow: 1.5px 1.5px 1px rgba(255, 255, 255, 0.658) ;
}
.btn{
    margin-left: 45px;
    margin-top: 30px;
}
.low:hover{
    background-color: rgb(214, 9, 54);
    transition: .5s ease-in-out;
    transform: scale(0.9);
}
.bt:hover{
    background-color: black;
    color: white;
    transition: .5s ease-in-out;
    transform: scale(0.9);
}
.btl:hover{
    background-color: black;
    color: white;
    transition: .5s ease-in-out;
    transform: scale(0.9);
}
.btm:hover{
    background-color: black;
    color: white;
    transition: .5s ease-in-out;
    transform: scale(0.9);
}
.bn:hover{
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    transition: .5s ease-in-out;
    transform: scale(0.9);
}
.l:hover{
    color: black;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 4px white;
}
.to:hover{
    color: black;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 4px white;
}
.t:hover{
    color: black;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 4px white;
}
.p:hover{
    color: black;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 4px white;
}
.v:hover{
    color: black;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 4px white;
}